@font-face{
    font-family: 'amsterdamfour';
    src:url('../fonts/amsterdamfour.woff') format('woff');
}

@font-face{
    font-family: 'quicksanddash';
    src:url('../fonts/quicksanddash.woff') format('woff');
}


body {
    margin: 0;
    padding: 0;
    min-width:750px;
    text-align: center;
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url("../img/back2.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    font-family: 'quicksanddash';
    -ms-overflow-style: none;
}

::-webkit-scrollbar{
    display:none;
}

.title{
    margin-top:100px;
    color:#fff;
    transition: all 4s ease-in-out;
}


.title h1{
    font-family:'amsterdamfour';
    text-transform:capitalize;
    font-size:40px;
    margin-bottom:10px;
}

.title h4{
    font-size: 26px;
    font-family:'quicksanddash';
}

.intro{
    font-family:quicksanddash;
    color:#fff;
}


.main{
    margin:60px;
    transition:all 5s ease-in-out;
}

.in-field{
    background:transparent;
    border:solid white;
    outline:none;
    width: 300px;
    margin-bottom: 10px;
    font-size: 22px;
    color:#fff;

}

.in-field:-ms-input-placeholder{
    text-align:center;
    color:#fff;
}

.in-field::-webkit-input-placeholder{
    text-align:center;
    color:#fff;
}

.in-field:hover{
    border: 2px solid black;
    cursor:default;
}





[id = 'button']{
    font-family: 'quicksanddash';
    width:200px;
    line-height:40px;
    background: white;
    border-color: transparent;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 32px;
    border-radius:13px;
}

[id = 'button']:hover{
    background: linear-gradient(forestgreen,blue);
    cursor:pointer;
}

.radio{
    font-family:quick-sand;
    font-size:larger;
    color:mintcream;
    margin-bottom:30px;
}


.location {
    margin:30px;
}


.dotted-line{
    border:none;
    width: 15%;
    border-top: 5px dotted #fff;
}

[id="Phone number"]{
    position:relative;
    left:-1.5%;
}

[id="Email"] {
    position: relative;
    left: 1.5%;
}


[id="City"] {
    position: relative;
    left: -1.5%;
}

[id="State"] {
    position: relative;
    left: 1.5%;
}