@font-face{
    font-family: 'amsterdamfour';
    src:url('../fonts/amsterdamfour.woff') format('woff');
}

@font-face{
    font-family: 'quicksanddash';
    src:url('../fonts/quicksanddash.woff') format('woff');
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url("../img/back2.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'quicksanddash';
    -ms-overflow-style: none;
}

::-webkit-scrollbar{
    display:none;
}

.title{
    margin-top:100px;
    color:#fff;
    transition: all 4s ease-in-out;
}


.title h1{
    font-family:'amsterdamfour';
    text-transform:capitalize;
    font-size:65px;
}

.title h4{
    font-size: 17px;
    font-family:'quicksanddash';
}


.main{
    margin:60px;
    transition:all 5s ease-in-out;
}

.in-field{
    background:transparent;
    border:none;
    outline:none;
    border-bottom:1px solid gray;
    width: 200px;
    margin-bottom: 20px;
    font-size: 25px;
    color:#fff;

}

.in-field:hover{
    border-bottom: 2px solid black;
    cursor:default;
}

.name {
    font-family: 'amsterdamfour';
    font-weight: 700;
    font-size: 35px;
    color: #ff5722;
    letter-spacing:2px;
    font-stretch:expanded;
}

[id='entry.1052862641'] {
    width: 330px;
}

[id='entry.348688332'] {
    width: 70px;
}

[id='entry.1397730140']{
    width:70px;
}

[id='entry.2006775650'] {
    width: 400px;
}

[id='entry.228912528'] {
    width: 400px;
}

[id ='entry.1985500591'] { 
    width: 70px;
}


[id = 'button']{
    font-family: 'quicksanddash';
    font-style:italic;
    background: linear-gradient(#ff5722,#ffd800);
    border-color: transparent;
    font-weight: bolder;
    font-size: 32px;
    margin-top: 32px;
    shape-rendering:geometricPrecision;
    border-radius:6px 30px 6px 30px;
}

[id = 'button']:hover{
    background: linear-gradient(forestgreen,blue);
    cursor:pointer;
}

.radio{
    font-family:quick-sand;
    font-size:larger;
    color:mintcream;
    margin-bottom:30px;
}

.radio:hover{
    color:aqua;
    cursor:pointer;
}

.location {
    margin-bottom:60px;
}
